.transaction-form{
    box-shadow: 9px 9px 16px rgb(163 177 198 / 60%),
              -9px -9px 16px rgb(255 255 255 / 50%);
    margin: 2rem 0;
    padding: 1.5rem 2.5rem;

    @media all and (min-width: 1025px){
        margin: 2rem 0 0 0;
    }

    &__title{
        font-size: 2.2rem;
        font-weight: 400;
        margin-bottom: 1.5rem;
    }

    &__group{
        margin-bottom: 1rem;
        font-size: 1.1rem;
    }

    &__input, &__date{
        background-color: transparent;
        border: none;
        padding: 0.5rem;        

        &:focus{
            outline: 2px solid lighten($color-primary, $amount: 10);;
            border-radius: 3px;
        }
    }

    &__input, &__date{
        width: 100%;
    }

    &__input-div, &__date-div{
        border: 1px solid lighten($color-primary, $amount: 20);
        border-radius: 3px;
    }

    &__date-div{        
        max-width: 50%;
    }     

    &__button-div{
        text-align: center;
    }

    &__button{
        background-color: $color-primary;
        border: none;
        border-radius: 3px;
        color: white;
        font-family: inherit;
        margin-top: 2rem;
        padding: 1rem 1.5rem;
        transition: all;

        &:hover{
            background-color: $color-secondary;
        }
    }

}