@mixin general_navbar{
    align-items: center;
    display: flex;
    background-color: #EAEBF3;
    justify-content: space-between;
    
    margin-bottom: 1.5rem;
    padding: 1rem 2.5rem;
    position: sticky;
    top: 0;
    width: 100%; 

    h1{
        font-size: 3.2rem;
        @media all and (min-width: 768px){
            font-size: 3.8rem;
        }
    }
}

@mixin general_navbar_button {
    border: 2px solid lighten($color-primary, $amount: 10);
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.7rem 1.7rem;
    transition: all .3s;

    @media all and (min-width: 768px){
        padding: 1rem 1.7rem;
    }

    &:hover{
        background-color: $color-secondary;
        color: white;
    }
}